[submodule "_vim/bundle/vim-stylus"]
	path = _vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus
[submodule "_vim/bundle/vim-css"]
	path = _vim/bundle/vim-css
	url = https://github.com/lepture/vim-css
[submodule "_vim/bundle/vim-json"]
	path = _vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "_vim/bundle/vim-jade"]
	path = _vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
